### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
school_data_to_load = "C:/Users/DeferentAtom94/OneDrive/Desktop/Resources/Pandas_Challenge/schools_complete.csv"
student_data_to_load = "C:/Users/DeferentAtom94/OneDrive/Desktop/Resources/Pandas_Challenge/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [7]:
#Generate a Summary table with the following metrics about each school
#=====================================================================
#Total Number of schools
#Pullng a total count of schools from the merged data frame using the unique function
specific_schools = school_data_complete["school_name"].unique()
#Total Schools equal the length of specific schools
total_schools=len(specific_schools)
total_schools

15

In [8]:
#Total Number of Students
#Pullng a total count of students from the school data
total_students = school_data_complete["student_name"].count()
total_students

39170

In [9]:
#Total Budget
#Add up the values in the budget column to get Total Budget using the sum fuction
total_budget = school_data["budget"].sum()
total_budget

24649428

In [10]:
#Average Math score
#Calculating the average math score by using the mean function
avg_math_scr = school_data_complete["math_score"].mean()
avg_math_scr

78.98537145774827

In [11]:
#Average Reading score
#Caluculating the averge reading score by using the mean function
avg_read_scr = school_data_complete["reading_score"].mean()
avg_read_scr

81.87784018381414

In [12]:
#Calculate the percentage of students with a passing math score (70 or greater)
#=============================================================================
#Establish a variable for passing math average
#(Loc)ating the math scores greater or equal to 70 gives us our variable
passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]
#Counting the students who meet our "passing math" critera
students_passing_math = passing_math["student_name"].count()

students_passing_math

29370

In [13]:
#Then passing math divided by total students times 100

passing_math_perc = (students_passing_math / total_students) * 100
passing_math_perc

74.9808526933878

In [14]:
#Calculate the percentage of students with a passing reading score (70 or greater)
#=================================================================================
#Establish a variable for passing reading average
#(Loc)ating the reading scores greater or equal to 70 gives us our variable
passing_read = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
#Counting the students who meet our "passing math" critera
students_passing_read = passing_read["student_name"].count()
students_passing_read

33610

In [15]:
#Then passing reading divided by total students times 100

passing_read_perc = (students_passing_read / total_students) * 100
passing_read_perc

85.80546336482001

In [16]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
#====================================================================================
#Overall can be found by adding the passing math percentage and average reading percentage and dividing the total by two
overall_passing_perc = (passing_read_perc + passing_math_perc) / 2
overall_passing_perc

80.39315802910392

In [17]:
#Create a dataframe to hold the above results
#============================================
dist_school_summary = pd.DataFrame({"Total Schools": total_schools,
                          "Total Students": f"{total_students}",
                          "Total Budget": f"${total_budget}", 
                          "Average Math Score": f"{avg_math_scr}",
                          "Average Reading Score": f"{avg_read_scr}",
                          "Passing Math %": f"{passing_math_perc}",
                          "Passing Reading %": f"{passing_read_perc}",
                          "Overall Passing %": f"{overall_passing_perc}"}, index=[0])

dist_school_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math %,Passing Reading %,Overall Passing %
0,15,39170,$24649428,78.98537145774827,81.87784018381414,74.9808526933878,85.80546336482001,80.39315802910392

In [18]:
#Optional: give the displayed data cleaner formatting

#don't forget to clean this up
# Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [19]:
#Create an overview table that summarizes key metrics about each school, including:
#=====================================================================================
#School Name pulled from the merged Data Frame school_data_complete using the "Group by" function  

school_group= school_data_complete.groupby(["school_name"])
school_group

In [20]:
#School Type
#======================================================================================
#School Type is found by pulling 'type' fron the groupby (school_group).first()
#First function is a simple function that returns the first true value from an iterable
school_type = school_group["type"].first()
school_type

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [21]:
#Total Students
#Total students can be found by using the "Size" function on our new groupby. 

total_stud = school_group.size()
total_stud

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [22]:
#Total School Budget
#=================================================
#Total School Budget is found by pulling 'budget' from the groupby (school_group).first
#First function is a simple function that returns the first true value from an iterable
total_schl_budget = school_group["budget"].first()
total_schl_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [23]:
#Per Student Budget
#================================================================================================
# Per Student budget is found by dividing the total school budget by the total number of students
per_stud_budget = total_schl_budget/total_stud
per_stud_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [24]:
#Average Math Score
#==================================================================================================
#Average math score can be determined by pulling the 'math score' from the groupby ("school_group") 
#and then using the mean function
avg_mth_scr = school_group["math_score"].mean()
avg_mth_scr

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [25]:
#Average Reading Score
#=========================================================================================================
#Average reading score can be determined by pulling the 'reading score' from the groupby ("school_group") 
#and then using the mean function
avg_rd_scr = school_group["reading_score"].mean()
avg_rd_scr

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [26]:
#Percentage of Passing Math
#=================================================================================================================
#Creating a variable to measure passing math
#Passing math group is found by establishing the standard for passing while grouping by "school name" 
# and getting a count by using the size function
passing_mth_group = school_data_complete[school_data_complete["math_score"] >= 70].groupby(["school_name"]).size()
#Calculating the actual percentage
passing_mth_perc = (passing_mth_group/total_stud) * 100
passing_mth_perc

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [27]:
#Percentage of Passing Reading
#===================================================================================================================
#Creating a variable to measure passing reading with the groupby
#Passing reading group is found by establishing the standard for passing while grouping by "school name" 
# and getting a count by using the size function
passing_rd_group = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(["school_name"]).size()
#Calculating the actual percentage
passing_rd_perc = (passing_rd_group/total_stud) * 100
passing_rd_perc

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [28]:
#Percentage of Overall Passing (The percentage of students that passed math and reading.)
#========================================================================================
#Overall passing percentage equals Passing Math Percentage + Passing Reading Percentage
# and then divide the sum by two
ovr_pass_perc = (passing_mth_perc + passing_rd_perc)/2
ovr_pass_perc

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [29]:
#Create a dataframe to hold the above results

grouped_school = pd.DataFrame({"School Type": school_type,
                  "Total Students": total_stud,
                  "Total School Budget": total_schl_budget,
                  "Per Student Budget": per_stud_budget,
                  "Average Math Score": avg_mth_scr,
                  "Average Reading Score": avg_rd_scr,
                  "Passing Math %": passing_mth_perc,
                  "Passing Reading %": passing_rd_perc,
                  "Overall Passing %": ovr_pass_perc,})
                              
grouped_school

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math %,Passing Reading %,Overall Passing %
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [30]:
#Sort and display the top five performing schools by % overall passing.
#==============================================================================
#Top Schools are sorted from the new Data Frame "grouped_school" with the value "Overalling Passing %"
#Ascending = False. Using the head function (5) to print the top 5 schools
top_schl = grouped_school.sort_values(["Overall Passing %"], ascending=[False])
top_schl.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math %,Passing Reading %,Overall Passing %
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [31]:
#Sort and display the five worst-performing schools by % overall passing.
#================================================================================
#Bottom Schools are sorted from the new Data Frame "grouped_school" with the value "Overalling Passing %"
#Ascending = True. Using the head function (5) to print the bottom 5 schools
bottom_schl = grouped_school.sort_values(["Overall Passing %"], ascending=[True])
bottom_schl.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math %,Passing Reading %,Overall Passing %
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [32]:
#Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#=========================================================================================================================

#Calculate the average math score for students in the ninth grade at each school
#===============================================================================================
#Create a new variable by using the merged data frame "school_data_complete" specific to 'grade'
# equivalent to the nineth groupby school name and 'math_score' average (mean)
avg_mth_9th = school_data_complete[school_data_complete['grade']=='9th'].groupby('school_name')['math_score'].mean()
avg_mth_9th

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [33]:
#Calculate the average math score for students in the tenth grade at each school
#===============================================================================================
#Create a new variable by using the merged data frame "school_data_complete" specific to 'grade'
# equivalent to the tenth, groupby school name and 'math_score' average (mean)
avg_mth_10th = school_data_complete[school_data_complete['grade']== '10th'].groupby('school_name')['math_score'].mean()
avg_mth_10th

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [34]:
#Calculate the average math score for students in the tenth grade at each school
#===============================================================================================
#Create a new variable by using the merged data frame "school_data_complete" specific to 'grade'
# equivalent to the eleventh groupby school name and 'math_score' average (mean)
avg_mth_11th = school_data_complete[school_data_complete['grade']== '11th'].groupby('school_name')['math_score'].mean()
avg_mth_11th

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [35]:
#Calculate the average math score for students in the tenth grade at each school
#===============================================================================================
#Create a new variable by using the merged data frame "school_data_complete" specific to 'grade'
# equivalent to the 'twelveth' groupby school name and 'math_score' average (mean)
avg_mth_12th = school_data_complete[school_data_complete['grade']== '12th'].groupby('school_name')['math_score'].mean()
avg_mth_12th

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [36]:
#Create a date frame for Math Score by Grade 
#===================================================
math_scr_by_grd =pd.DataFrame({"9th": avg_mth_9th,
                               "10th": avg_mth_10th,
                               "11th": avg_mth_11th,
                               "12th": avg_mth_12th,
                              })

#New data frame (.index.name = None) gets rid of the "school name" over top of the index
math_scr_by_grd.index.name = None
#.head(15) Header for all 15 schools. 
math_scr_by_grd.head(15)

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [37]:
#Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.
#=========================================================================================================================

#Calculate the average reading score for students in the ninth grade at each school
#===============================================================================================
#Create a new variable by using the merged data frame "school_data_complete" specific to 'grade'
# equivalent to the nineth groupby school name and 'reading_score' average (mean)
avg_rd_9th = school_data_complete[school_data_complete['grade']== '9th'].groupby('school_name')['reading_score'].mean()
avg_rd_9th

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [38]:
#Calculate the average reading score for students in the ninth grade at each school
#===============================================================================================
#Create a new variable by using the merged data frame "school_data_complete" specific to 'grade'
# equivalent to the tenth groupby school name and 'reading_score' average (mean)
avg_rd_10th = school_data_complete[school_data_complete['grade']== '10th'].groupby('school_name')['reading_score'].mean()
avg_rd_10th

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [39]:
#Calculate the average reading score for students in the ninth grade at each school
#===============================================================================================
#Create a new variable by using the merged data frame "school_data_complete" specific to 'grade'
# equivalent to the eleventh groupby school name and 'reading_score' average (mean)
avg_rd_11th = school_data_complete[school_data_complete['grade']== '11th'].groupby('school_name')['reading_score'].mean()
avg_rd_11th

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [40]:
#Calculate the average reading score for students in the ninth grade at each school
#===============================================================================================
#Create a new variable by using the merged data frame "school_data_complete" specific to 'grade'
# equivalent to the tweleveth groupby school name and 'reading_score' average (mean)
avg_rd_12th =school_data_complete[school_data_complete['grade']== '12th'].groupby('school_name')['reading_score'].mean()
avg_rd_12th

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [41]:
#Create a date frame for Math Score by Grade 

rd_scr_by_grd =pd.DataFrame({"9th": avg_rd_9th,
                               "10th": avg_rd_10th,
                               "11th": avg_rd_11th,
                               "12th": avg_rd_12th,
                              })

#New data frame (.index.name = None) gets rid of the "school name" over top of the index
rd_scr_by_grd.index.name = None
#.head(15) Header for all 15 schools.
rd_scr_by_grd.head(15)

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [42]:
#School Spending
#=================================================================
#Creating bins
school_spending_bins = [0, 585, 630, 645, 680]
spending_range_groups =[' < $585', '$585-630', '$630-645', '$645-680']

In [43]:
#Create a new data frame by (loc)ating the desiderated columns
scr_by_schl_spending = grouped_school.loc[:,["Average Math Score",
                                             "Average Reading Score",
                                             "Passing Math %",
                                             "Passing Reading %",
                                              "Overall Passing %"]]

In [44]:
#Scores by school spending 
#Now to use the Pandas cut function to update our data frame
#Pandas cut() function is used to separate the array elements into different bins (GeeksforGeeks)
scr_by_schl_spending["Spending Ranges (Per Student)"] =pd.cut(grouped_school["Per Student Budget"],
                                                              school_spending_bins, labels=spending_range_groups)
#Getting our averages by usng the mean function
scr_by_schl_spending = scr_by_schl_spending.groupby("Spending Ranges (Per Student)").mean()
scr_by_schl_spending.head()

,Average Math Score,Average Reading Score,Passing Math %,Passing Reading %,Overall Passing %
Spending Ranges (Per Student),,,,,
< $585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-630,81.899826,83.155286,87.133538,92.718205,89.925871
$630-645,78.518855,81.624473,73.484209,84.391793,78.938001
$645-680,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [45]:
#Bins
size_bins = [0, 1000, 2000, 5000]
school_size_group = ["Small (<1000)", "Medium 1000-2000", "Large 2000-5000"]

In [46]:
#Create a new data frame by (loc)ating the desiderated columns
scr_by_schl_size = grouped_school.loc[:,["Average Math Score",
                                             "Average Reading Score",
                                             "Passing Math %",
                                             "Passing Reading %",
                                              "Overall Passing %"]]

In [47]:
#Now to use the Pandas cut function to update our data frame
#Pandas cut() function is used to separate the array elements into different bins (GeeksforGeeks)
scr_by_schl_size["School Size"]= pd.cut(grouped_school["Total Students"], size_bins,labels=school_size_group)

#Getting our averages by usng the mean function
scr_by_schl_size = scr_by_schl_size.groupby("School Size").mean()
scr_by_schl_size.head()

,Average Math Score,Average Reading Score,Passing Math %,Passing Reading %,Overall Passing %
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,94.824831
Medium 1000-2000,83.374684,83.864438,93.599695,96.790680,95.195187
Large 2000-5000,77.746417,81.344493,69.963361,82.766634,76.364998

## Scores by School Type

* Perform the same operations as above, based on school type

In [49]:
# Create a new data frame with our required columns
scr_type = grouped_school[['School Type','Average Math Score',
                                  'Average Reading Score','Passing Math %',
                                  'Passing Reading %', 'Overall Passing %',]]


scr_type = scr_type.groupby('School Type').mean()
scr_type.head()

,Average Math Score,Average Reading Score,Passing Math %,Passing Reading %,Overall Passing %
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,95.103660
District,76.956733,80.966636,66.548453,80.799062,73.673757